In [2]:
import pandas as pd

In [3]:
bh = pd.read_spss("bh.sav")
ch = pd.read_spss("ch.sav")
hh = pd.read_spss("hh.sav")
wm = pd.read_spss("wm.sav")

In [6]:
print(bh.shape, ch.shape, hh.shape, wm.shape)

(121184, 50) (24686, 346) (64400, 273) (68709, 412)

In [7]:
bh.head()

,HH1,HH2,LN,WM1,WM2,WM3,WMINT,BH0,BH2,BH3,...,ethnicity,welevel,disability,migration,BHLN,brthord,magebrt,birthint,stratum,PSU
0,1.0,1.0,2.0,1.0,1.0,2.0,14.0,1.0,SINGLE,BOY,...,Bengali,Higher secondary+,Has no functional difficulty,Moved 5+ years ago,1.0,1,<20,First birth,10041.0,1.0
1,1.0,2.0,2.0,1.0,2.0,2.0,15.0,1.0,SINGLE,BOY,...,Bengali,Higher secondary+,Has no functional difficulty,Never moved from present location,1.0,1,20-34,First birth,10041.0,1.0
2,1.0,3.0,2.0,1.0,3.0,2.0,12.0,1.0,SINGLE,BOY,...,Bengali,Higher secondary+,Has no functional difficulty,Moved within the last 5 years,1.0,1,20-34,First birth,10041.0,1.0
3,1.0,5.0,2.0,1.0,5.0,2.0,14.0,1.0,SINGLE,GIRL,...,Bengali,Primary,Has no functional difficulty,Moved within the last 5 years,1.0,1,<20,First birth,10041.0,1.0
4,1.0,6.0,2.0,1.0,6.0,2.0,15.0,1.0,SINGLE,BOY,...,Bengali,Primary,Has no functional difficulty,Moved within the last 5 years,1.0,1,<20,First birth,10041.0,1.0

In [33]:
ch.head()

,HH1,HH2,LN,UF1,UF2,UF3,UFINT,UF4,UF5,UF6,...,windex5r,windex10r,chweight,melevel,cdisability,ethnicity,caretakerdis,wmweight,stratum,PSU
0,1.0,1.0,3.0,1.0,1.0,3.0,14.0,2.0,14.0,11.0,...,NaN,NaN,0.354405,Higher secondary+,Has no functional difficulty,Bengali,Has no functional difficulty,0.358223,10041.0,1.0
1,1.0,2.0,3.0,1.0,2.0,3.0,15.0,2.0,15.0,11.0,...,NaN,NaN,0.354405,Higher secondary+,NaN,Bengali,Has no functional difficulty,0.358223,10041.0,1.0
2,1.0,5.0,3.0,1.0,5.0,3.0,14.0,2.0,14.0,11.0,...,NaN,NaN,0.354405,Primary,Has no functional difficulty,Bengali,Has no functional difficulty,0.358223,10041.0,1.0
3,1.0,7.0,5.0,1.0,7.0,5.0,12.0,3.0,12.0,11.0,...,NaN,NaN,0.354405,Higher secondary+,Has no functional difficulty,Bengali,Has no functional difficulty,0.358223,10041.0,1.0
4,1.0,10.0,3.0,1.0,10.0,3.0,15.0,2.0,15.0,11.0,...,NaN,NaN,0.354405,Higher secondary+,Has no functional difficulty,Bengali,Has no functional difficulty,0.358223,10041.0,1.0

In [9]:
hh.head()

,HH1,HH2,HINT,HH3,HH4,HH5D,HH5M,HH5Y,HH6,HH7,...,windex10u,wscorer,windex5r,windex10r,hhweight,wqhaweight,wqeweight,wqsaweight,stratum,PSU
0,1.0,1.0,14.0,14.0,11.0,9.0,5.0,2019.0,URBAN,Barishal,...,6th decile,NaN,NaN,NaN,0.377437,0.37714,0.47755,0.535704,10041.0,1.0
1,1.0,2.0,15.0,15.0,11.0,9.0,5.0,2019.0,URBAN,Barishal,...,3rd decile,NaN,NaN,NaN,0.377437,0.37714,0.47755,0.535704,10041.0,1.0
2,1.0,3.0,12.0,12.0,11.0,9.0,5.0,2019.0,URBAN,Barishal,...,2nd decile,NaN,NaN,NaN,0.377437,0.37714,0.47755,0.535704,10041.0,1.0
3,1.0,4.0,13.0,13.0,11.0,9.0,5.0,2019.0,URBAN,Barishal,...,3rd decile,NaN,NaN,NaN,0.377437,0.37714,0.47755,0.535704,10041.0,1.0
4,1.0,5.0,14.0,14.0,11.0,9.0,5.0,2019.0,URBAN,Barishal,...,3rd decile,NaN,NaN,NaN,0.377437,0.37714,0.47755,0.535704,10041.0,1.0

In [10]:
wm.head()

,HH1,HH2,LN,WM1,WM2,WM3,WMINT,WM4,WM5,WM6D,...,wscorer,windex5r,windex10r,wmweight,welevel,disability,migration,ethnicity,stratum,PSU
0,1.0,1.0,2.0,1.0,1.0,2.0,14.0,11.0,14.0,9.0,...,NaN,NaN,NaN,0.358223,Higher secondary+,Has no functional difficulty,Moved 5+ years ago,Bengali,10041.0,1.0
1,1.0,2.0,2.0,1.0,2.0,2.0,15.0,11.0,15.0,9.0,...,NaN,NaN,NaN,0.358223,Higher secondary+,Has no functional difficulty,Never moved from present location,Bengali,10041.0,1.0
2,1.0,3.0,2.0,1.0,3.0,2.0,12.0,11.0,12.0,9.0,...,NaN,NaN,NaN,0.358223,Higher secondary+,Has no functional difficulty,Moved within the last 5 years,Bengali,10041.0,1.0
3,1.0,5.0,2.0,1.0,5.0,2.0,14.0,11.0,14.0,9.0,...,NaN,NaN,NaN,0.358223,Primary,Has no functional difficulty,Moved within the last 5 years,Bengali,10041.0,1.0
4,1.0,6.0,2.0,1.0,6.0,2.0,15.0,11.0,15.0,9.0,...,NaN,NaN,NaN,0.358223,Primary,Has no functional difficulty,Moved within the last 5 years,Bengali,10041.0,1.0

In [7]:
'LN' in hh.columns

False

In [25]:
for s in hh.columns:
    if s in bh.columns and s in ch.columns and s in wm.columns:
        print(s)

HH1
HH2
HH4
HH6
HH7
HH7A
ethnicity
wscore
windex5
windex10
wscoreu
windex5u
windex10u
wscorer
windex5r
windex10r
stratum
PSU

In [34]:
wm[['stratum', 'PSU']].value_counts()

stratum  PSU
60901.0  3124.0    42
60912.0  3191.0    41
         3189.0    39
         3198.0    38
         3192.0    37
                   ..
45892.0  2182.0    11
30482.0  1139.0    11
55322.0  2713.0    10
10422.0  174.0     10
45892.0  2185.0     9
Length: 3220, dtype: int64

In [37]:
ch_1 = ch[['HH1', 'HH2', 'LN', 'HH7', 'HL4', 'wscore', 'windex5', 'melevel',
           'CAGE', 'chweight','CA1', 'CA14', 'CA16', 'CA17', 'CA18', 'stratum', 'PSU']]
ch_1.head()

,HH1,HH2,LN,HH7,HL4,wscore,windex5,melevel,CAGE,chweight,CA1,CA14,CA16,CA17,CA18,stratum,PSU
0,1.0,1.0,3.0,Barishal,MALE,1.442586,Richest,Higher secondary+,58.0,0.354405,NO,NO,NO,NO,NaN,10041.0,1.0
1,1.0,2.0,3.0,Barishal,MALE,0.001265,Middle,Higher secondary+,19.0,0.354405,NO,YES,NO,NO,NaN,10041.0,1.0
2,1.0,5.0,3.0,Barishal,FEMALE,0.144091,Fourth,Primary,36.0,0.354405,NO,NO,NO,NO,NaN,10041.0,1.0
3,1.0,7.0,5.0,Barishal,MALE,1.256775,Richest,Higher secondary+,45.0,0.354405,NO,NO,NO,NO,NaN,10041.0,1.0
4,1.0,10.0,3.0,Barishal,FEMALE,1.389490,Richest,Higher secondary+,54.0,0.354405,NO,NO,NO,NO,NaN,10041.0,1.0

In [35]:
wm_1 = wm[['HH1', 'HH2', 'LN', 'LS2']]
wm_1.head()

   HH1  HH2   LN LS2
0  1.0  1.0  2.0  10
1  1.0  2.0  2.0   8
2  1.0  3.0  2.0   4
3  1.0  5.0  2.0  10
4  1.0  6.0  2.0   6

In [14]:
hh_1 = hh[['HH1', 'HH2', 'SA1', 'helevel', 'HW7B', 'HW7C', 'WS11', 'HH48']]
hh_1.head()

,HH1,HH2,SA1,helevel,HW7B,HW7C,WS11,HH48
0,1.0,1.0,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,4.0
1,1.0,2.0,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Secondary,DETERGENT (POWDER / LIQUID / PASTE),,PIT LATRINE: PIT LATRINE WITH SLAB,3.0
2,1.0,3.0,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,3.0
3,1.0,4.0,SALT TESTED: 0 PPM (NO REACTION),Primary,,,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,2.0
4,1.0,5.0,SALT TESTED: 0 PPM (NO REACTION),Primary,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,PIT LATRINE: PIT LATRINE WITH SLAB,3.0

In [36]:
bh_1 = bh[['HH1', 'HH2', 'LN', 'magebrt']]
bh_1.head()

   HH1  HH2   LN magebrt
0  1.0  1.0  2.0     <20
1  1.0  2.0  2.0   20-34
2  1.0  3.0  2.0   20-34
3  1.0  5.0  2.0     <20
4  1.0  6.0  2.0     <20

In [29]:
join1 = pd.merge(ch_1, bh_1, on = ['HH1', 'HH2', 'LN'], how = 'left')
join2 = pd.merge(join1, wm_1, on = ['HH1', 'HH2', 'LN'], how = 'left')
join3 = pd.merge(join2, hh_1, on = ['HH1', 'HH2'], how = 'left')
join3.head()

,HH1,HH2,HH7,HL4,wscore,windex5,melevel,CAGE,chweight,CA1,...,CA18,SA1,helevel,HW7B,HW7C,WS11,HH48,help,magebrt,LS2
0,1.0,1.0,Barishal,MALE,1.442586,Richest,Higher secondary+,58.0,0.354405,NO,...,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,4.0,0,<20,10
1,1.0,2.0,Barishal,MALE,0.001265,Middle,Higher secondary+,19.0,0.354405,NO,...,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Secondary,DETERGENT (POWDER / LIQUID / PASTE),,PIT LATRINE: PIT LATRINE WITH SLAB,3.0,0,20-34,8
2,1.0,5.0,Barishal,FEMALE,0.144091,Fourth,Primary,36.0,0.354405,NO,...,NaN,SALT TESTED: 0 PPM (NO REACTION),Primary,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,PIT LATRINE: PIT LATRINE WITH SLAB,3.0,0,<20,10
3,1.0,7.0,Barishal,MALE,1.256775,Richest,Higher secondary+,45.0,0.354405,NO,...,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Secondary,DETERGENT (POWDER / LIQUID / PASTE),,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,5.0,0,20-34,7
4,1.0,10.0,Barishal,FEMALE,1.389490,Richest,Higher secondary+,54.0,0.354405,NO,...,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,3.0,0,35+,9

In [31]:
join3['windex5'].value_counts()

Poorest    20564
Fourth     17961
Middle     17921
Richest    17717
Second     16820
0.0         5134
Name: windex5, dtype: int64

In [32]:
join3.to_csv("merged_filtered.csv")